<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Films</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h1 th:text="#{film.films}"></h1>
<!--Aquí tengo que incluir el buscador con los filtros-->
<h2 th:text="#{film.searchTitle}"></h2>
<form method="get" th:action="@{/films}">
    <label th:text="#{film.title}"></label><input type="text" name="titleFragment" th:value="${searchQuery}">
    <input type="submit" th:value="#{film.search}">
</form>

<!--Aquí muestro todas las pelis mientras no hay filtros todavía-->
<table>
    <tbody>
        <tr th:each="film: ${films}">
            <td th:text="${film.title}"></td>
            <td th:text="${film.releaseDate}"></td>
            <td><img th:src="@{'uploads/posters/'+{film.poster}}" width="1000" alt="Poster of the film"></img></td>

             <td>
                 <a th:href="@{/films/details/{id} (id=${film.id})}"><button th:text="#{film.view}"></button></a>
                 <a th:href="@{/films/edit/{id} (id=${film.id})}"><button th:text="#{film.editButton}"></button></a>
                 <a th:href="@{/films/rate/{id} (id=${film.id})}"><button th:text="#{film.rate}"></button></a>
             </td>
        </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/header :: scripts}"></div>

</body>
</html>