<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header::head}">
    <meta charset="UTF-8">
    <title>Create Film</title>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<div class="container mt-4">
<h1 th:text="#{film.add}"></h1>
<form method="post" th:action="@{/films/create}" th:object="${film}" enctype="multipart/form-data">

    <div class="col-md-4 ml-3">
        <div class="mb-3">
    <label th:text="#{film.title}" class="form-label"></label>
        <input type="text" th:field="*{title}" class="form-control"/>
            </div>
        <div class="mb-3">
    <label th:text="#{film.release}" class="form-label"></label>
        <input type="text" th:field="*{releaseDate}" class="form-control"/>
        </div>
    <!--Tengo que ver cómo hago esto para que escojan entre los que ya existen-->
        <div class="mb-3">
    <label th:text="#{film.director}" class="form-label"></label>
        <select name="directorId" required class="form-select">
            <option value="" disabled selected th:text="#{film.selectDirector}"></option>
            <option th:each="d : ${directors}" th:value="${d.id}" th:text="${d.name+' '+d.lastname}" ></option>
        </select>
        </div>
        <div class="mb-3">
    <label th:text="#{film.actors}" class="form-label"></label>
        <select multiple th:field="*{actors}" class="form-select">
            <option th:each="a : ${actors}" th:value="${a.id}" th:text="${a.name +' '+a.lastname}"></option>
        </select>
    </div>
<div class="mb-3">
    <label for="posterFile" class="btn btn-outline-dark" th:text="#{common.submitPoster}"></label>
    <!--This is the hidden real imput so that we can show only the submit file button-->
        <input type="file" id="posterFile" name="posterFile" style="display:none"/>
</div>
    <div class="mb-3">
    <input type="submit" th:value="#{common.submit}" class="btn btn-dark mb-3"/>
    </div>
    </div>
</form>


<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>