<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title th:text="#{common.signin}"></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-4">
    <h1 th:text="#{common.signin}"></h1>
    <form method="post" th:action="@{/login}" th:object="${loginDTO}">
        <div class="col-md-4">
            <div class="mb-3">
                <label th:text="#{common.username}" class="form-label"></label>
                <input type="text" th:field="*{username}" class="form-control">
            </div>

            <div class="mb-3">
                <label th:text="#{common.password}" class="form-label"></label>
                <input type="password" th:field="*{password}" class="form-control">
            </div>

            <div class="text-danger mb-3" th:if="${errorMsg != null}" th:text="#{${errorMsg}}"></div>
            <button type="submit" class="btn btn-dark mb-3" style="width: 100%; max-width: 300px;"
                    th:text="#{common.signin}"></button>

            <div class="mb-3">
                <p th:text="#{login.account}" class="form-text fs-6"></p>
                <p><a th:href="@{/register}" th:text="#{login.register}" class="form-text  fs-4"></a></p>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>