<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Films</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-5">
<h1 th:text="#{film.films}"></h1>
<!--Film search with filters-->
<h2 th:text="#{film.searchTitle}"></h2>
<form method="get" th:action="@{/films}" class="mt-4 mb-3">
    <input type="text" name="titleFragment" th:value="${searchQuery}">
    <input class="btn btn-dark" type="submit" th:value="#{film.search}">
</form>

<!--Showing every film without search filter-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="film: ${films}">
            <div class="card h-100">

                <img th:src="@{'uploads/posters/'+${film.poster}}" class="card-img-top" width="150" height="500" alt="Poster of the film">

                <div class="card-body">
            <h5 th:text="${film.title}" class="card-title"></h5>
            <p th:text="${film.releaseDate}" class="card-text"></p>
                    </div>

                 <ul class="list-group list-group-flush">
                 <li class="list-group-item"><a th:href="@{/films/details/{id} (id=${film.id})}"><button class="btn btn-dark" th:text="#{film.view}"></button></a>
                <a th:href="@{/films/edit/{id} (id=${film.id})}"><button class="btn btn-dark" th:text="#{film.editButton}"></button></a>
                <a th:href="@{/films/rate/{id} (id=${film.id})}"><button class="btn btn-dark" th:text="#{film.rate}"></button></a></li>
                 </ul>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/header :: scripts}"></div>

</body>
</html>